@import url('https://fonts.googleapis.com/css2?family=Lily+Script+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    box-sizing: border-box;
}

html,body{
    height: 100%;
}

body{
    margin: 0px;
    padding: 0px;
    font-family: 'Poppins';
}

#wrapper{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}


nav{
    background: linear-gradient(blue , red);
    display: flex;
    justify-content: space-around;
    padding: 20px 30px;
    font-size: 2em;
}

nav div{
    width: 100px;
}

nav a{
    color: white;
    text-decoration: none;
    padding: 20;
    margin: 0;
}

nav .logo{
    color: white;
    font-size: 1.3em;
    display: none;
}

figure{
    width: 70%;
    margin: auto;
    margin-top: 20px;
    padding: 20px;
    background-color: #ccc;
    border: 5px solid slateblue;
}

figure img{
    width: 100%;
}


@media (max-width: 780px){
    body{
        margin-right: 8px;
    }

    #wrapper{
        flex-direction: row;
        flex-wrap: nowrap;
    }

    nav{
        width: 40%;
        background: linear-gradient(blue , red);
        margin-right: 5px;
        flex-wrap: wrap;
        text-align: center;
    }

    nav div{
        width: 100%;
        margin-bottom: 50px;
    }

    nav .texto{
        display: none;
    }

    nav .logo{
        display: block;
    }

    figure{
        width: 100%;
        border: none;
        padding: 5px;
    }

    figcaptio{
        display: none;
    }
}
