@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');

*{
    margin: 0;
    padding: 0;
}

body{
    background-color: #424242;
}

h1{
    font-family: Poppins;
    font-weight: bold;
    font-size: 16pt;
    color: white;
}

h2{
    font-family: Poppins;
    font-weight: bold;
    font-size: 16pt;
    color: white;
}

p{
    font-family: Poppins;
    font-weight: bold;
    font-size: 16pt;
    color: white;
}

article{
    background-color: blueviolet;
    width: 300px;
}

article h2{
    color: aqua;
}
