@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Poppins';
}

.container{
    display: grid;
    grid-template-columns: 250px 1fr 250px;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

header{
    background-color: paleturquoise;
    grid-column: span 3;
    height: 80px    
}

nav{
    background-color: plum;
}

aside{
    background-color: springgreen;
}

footer{
    background-color: dimgray;
    grid-column: span 3;
    height: 80px  
}

@media (max-width: 780px){
    .container{
        display: flex;
        flex-direction: column;
    }

    nav, aside{
        height: 80px;
    }

    article{
        flex-grow: 1;
    }

    h1{
        font-size: 20pt;
    }

    p{
        font-size: 18pt;
    }
}
