html, body{
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
}

#container{
    width: 1000px;
    height: 300px;
    background-color: crimson;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}


figure{
    width: 300px;
    height: 250px;
    display: inline-block;
    padding: 0;
    margin: 0;
    margin-top: 25px;
    margin-left: 25px;
}

img{
    width: 100%;
    height: 100%;
}


@keyframes anima1 {
    0%{
        transform: scale(1);
    }
    50%{
        transform: scale(2);
    }
    100%{
        transform: scale(1);
    }
}

@keyframes anima2 {
    0%{
        opacity: 1;
    }
    50%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
}

@keyframes anima3 {
    0%{
        transform: rotate(0deg);
    }
    50%{
        transform: rotate(360deg);
    }
    100%{
        transform: rotate(0deg);
    }
}

#fig1:hover{
    animation: anima1 2s linear infinite;
}

#fig2:hover{
    animation: anima2 2s linear infinite;
}

#fig3:hover{
    animation: anima3 2s linear infinite;
}
